vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Oct 2000 13:28:28 -0000
vti_extenderversion:SR|5.0.2.2634
vti_cacheddtm:TX|23 Oct 2000 13:28:28 -0000
vti_filesize:IR|1365
vti_backlinkinfo:VX|perlshop/Public\\ HTML/country.html
