# -FrontPage-

Options None

<Limit GET POST PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthName whentwobecomeone.net
AuthUserFile /var/www/vhosts/whentwobecomeone.net/httpdocs/_vti_pvt/service.pwd
AuthGroupFile /var/www/vhosts/whentwobecomeone.net/httpdocs/_vti_pvt/service.grp
